@import 'styles/variables.css';
@import 'styles/mixins.css';

.toast {
  margin: 0 1rem 1rem 0;
  z-index: 9999;
  display: flex;
  border: 1px solid transparent;
  background-color: var(--white10);
  color: var(--white10);
  padding: 0.65rem 1rem;
  border-radius: var(--radius-m);
  font-size: var(--font-ml);

  &.error {
    background-color: var(--c-status-negative);
  }

  &.warning {
    background-color: var(--c-status-warn);
  }

  &.info {
    background-color: var(--c-status-neutral);
  }

  &.success {
    background-color: var(--c-status-positive);
  }

  & span {
    margin-left: 0.5rem;
    font-size: var(--font-s);
  }
}

.closeToast {
  display: inline-block;
  margin: 0 -0.5rem 0 0.5rem;
  border-radius: var(--radius-btn);
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  line-height: 1.9rem;
  text-align: center;
  color: currentColor;
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}
