:root {
  /* Whites */
  --white09: #fff;
  --white10: #fffefd;
  --white11: #f5f5f5;
  --white12: #edecec;
  --white13: #e2e0df;

  /* Grays */
  --gray06: #c4c2c1;
  --gray07: #bcbbb9;
  --gray08: #9e9e9c;
  --gray09: #8f8e8c;
  --gray10: #767574;
  --gray11: #6a6967;
  --gray12: #626160;
  --gray13: #51504f;

  /* Purples (blacks) */
  --purple07: #4a4466;
  --purple08: #413c5a;
  --purple09: #39354e;
  --purple10: #302c43;
  --purple11: #252235;
  --purple12: #1f1d2b;

  /* Blues */
  --blue08: #47c8ff;
  --blue09: #11a9ff;
  --blue10: #049cf1;
  --blue11: #027ec4;
  --blue12: #0076b8;

  /* Greens */
  --green06: #9ff774;
  --green07: #31ee71;
  --green08: #07d65b;
  --green09: #02c752;
  --green10: #00b35d;
  --green11: #00a455;
  --green12: #049a59;
  --green13: #0b8852;

  /* Golds */
  --gold08: #ffbe40;
  --gold09: #ffae21;
  --gold10: #ffa11a;
  --gold11: #f48e06;

  /* Reds */
  --red08: #ff6b4a;
  --red09: #ff523a;
  --red10: #f4442c;
  --red11: #e84029;

  /* Brands */
  --c-brand-google: #4285F5;
  --c-brand-okta: #007dc1;
  --c-brand-github: #181717;

  /* Semantic color */
  --c-text-heading: color(var(--purple10));
  --c-text-body: color(var(--gray13));
  --c-text-label: color(var(--gray09));
  --c-text-description: color(var(--purple10));
  --c-text-muted: color(var(--gray06));
  --c-text-nav: color(var(--gray09));
  --c-text-nav-hover: color(var(--purple10));
  --c-text-nav-current: color(var(--purple10));

  --c-link: color(var(--blue11));
  --c-link-hover: color(var(--blue10));

  --c-status-neutral: color(var(--blue10));
  --c-status-positive: color(var(--green10));
  --c-status-warn: color(var(--gold10));
  --c-status-negative: color(var(--red10));

  --c-input-border-color: color(var(--gray06));
  --c-input-border-color-hover: color(var(--gray08));
  --c-input-border-color-focused: color(var(--blue10));
  --c-input-color: color(var(--c-text-description));
  --c-input-bg-color: color(var(--white12));
  --c-input-bg-color-hover: color(var(--white11));
  --c-input-bg-color-focused: color(var(--white10));

  /* Shadow */
  --shadow:
    0 1px 2px color(var(--white13) a(0.1)),
    0 2px 4px color(var(--white13) a(0.1)),
    0 4px 6px color(var(--white13) a(0.1)),
    0 8px 8px color(var(--white13) a(0.1));

  --shadow-alt:
    0 1px 2px color(var(--white13) a(0.4)),
    0 2px 4px color(var(--white13) a(0.4)),
    0 4px 6px color(var(--white13) a(0.4)),
    0 8px 8px color(var(--white13) a(0.4));

  --shadow-dark:
    0 1px 2px color(var(--purple10) a(0.03)),
    0 2px 4px color(var(--purple10) a(0.03)),
    0 4px 6px color(var(--purple10) a(0.03)),
    0 8px 8px color(var(--purple10) a(0.03));
}
