:root {
  /* Typefaces */
  --font-sans: 'GoodSans', 'SF Pro', 'Open Sans', sans;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace;

  /* Desktop Font Sizes */
  --font-xl: 2.25rem;
  --font-l: 1.75rem;
  --font-ml: 1.375rem;
  --font-m: 1rem;
  --font-s: 0.85rem;
  --font-xs: 0.65rem;

  /* Mobile Font Sizes */
  --font-mobile-xl: 1.6rem;
  --font-mobile-l: 1.2rem;
  --font-mobile-ml: 1rem;
}
