@import 'styles/variables.css';
@import 'styles/mixins.css';

@mixin track {
  outline: none;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: 0;
  background: var(--c-input-border-color);
}

@mixin filled-track {
  border: 0;
  border-radius: 3px 0 0 3px;
  height: 6px;
  background: var(--blue10);
}

@mixin thumb {
  appearance: none;
  box-shadow: var(--shadow-dark);
  width: 1rem;
  height: 1rem;
  background: var(--blue10);
  border-radius: 50%;
  cursor: pointer;
  transition: background 200ms ease-in-out;

  &:hover {
    background: var(--blue11);
  }
}

@mixin focused-thumb {
  box-shadow: 0 0 0 3px color(var(--blue10) a(0.4));
}

.slider {
  appearance: none;
  margin: 5px 0;
  width: 100%;
  background: none;

  &:focus {
    outline: none;
  }

  /* Styles the track of the input */
  &::-webkit-slider-runnable-track { @include track; }
  &::-moz-range-track { @include track; }
  &::-ms-track { @include track; }

  /* Styles the thumb of the input */
  &::-webkit-slider-thumb {
    @include thumb;

    margin-top: -5px;
  }

  &::-moz-range-thumb { @include thumb; }
  &::-ms-thumb { @include thumb; }

  &:focus::-webkit-slider-thumb { @include focused-thumb; }
  &:focus::-moz-range-thumb { @include focused-thumb; }
  &:focus::-ms-thumb { @include focused-thumb; }

  /* Styles the progress/fill below the thumb */
  &::-moz-range-progress { @include filled-track; }
  &::-ms-fill-lower { @include filled-track; }

  &:disabled {
    opacity: 0.5;

    &:hover {

      &::-webkit-slider-thumb {
        @include thumb;

        background: var(--blue10);
        cursor: default;
      }
    }
  }
}
